== ::Slim::Template.new(File.expand_path "../templates/common.slim", __FILE__).render(self)
== ::Slim::Template.new(File.expand_path "../templates/contents.slim", __FILE__).render(self)
== ::Slim::Template.new(File.expand_path "../templates/components.slim", __FILE__).render(self)
